h1{

    color:white;
    text-align: center;
    padding-bottom: 1%;
    font-size: 4rem;
    text-shadow: 6px 6px 3px rgb(12, 9, 161);
    font-family: 'Cinzel Decorative',cursive;

    }
.box{
    background-color: rgb(39, 138, 163);

}

.box1{
    background-color: rgb(26, 187, 88);
    padding-top: 2%;
    padding-bottom: 2%;
}
table{
    width: 100%
}
.container{
    background-color: rgb(39, 138, 163);
    padding-bottom: 21%;
    padding-top: 0.1%;
    margin-top: 1%;

}
.box2{
    float: left;
    background-color:rgb(15, 230, 194); 
    width: 650px;
    margin-left: .5%;
    margin-top: 0.2%;
    padding-bottom: .5%;
    padding-right: 5%;
  
   
}
.box3{
    background-color:rgb(13, 189, 51); 
    padding: .5%    ;
    margin-top: .5%;
    margin-bottom: .5%;

}


h2{
    text-align: center;
    font-size: 3rem;
    font-family:'Rough Script',cursive;
    
  
}
